.App {
  text-align: center;
  color: white;
  height:100vh;
  max-width: 100vw;
  overflow:hidden;
  overflow-y: scroll;
}
.bar {
  position:absolute;
  height: 100%;
  width: 100%;
  text-align:left;
}

.bar img {
  height :100%;
  position:relative;
  z-index: 100;
}
.title {
  position:relative;
  top:15px;
  left: 0;
  right:0;
  text-align:center;
  color:white;
  font-size: 20px;
  line-height: 100px;
  height: 60px;
  z-index: 2;
}
.flippening_pct {
  position:relative;
  top:45px;
  left: 0;
  right:0;
  text-align:center;
  color:white;
  font-size: 80px;
  line-height: 100px;
  height: 100px;
  z-index: 2;
  -webkit-animation: flippening 3.5s ease-in-out infinite;
  -z-animation: flippening 3.5s ease-in-out infinite;
  -o-animation: flippening 3.5s ease-in-out infinite;
  animation: flippening 3.5s ease-in-out infinite;

}
.logo {
  height: 30px;
}
.table {
  text-align:left;
  font-size: 16px;
}
.btc {
background-color: #333;
position:absolute;
max-height: 70%;
top:0;
left:0;
right:0;
z-index:-1;
border-bottom: 3px solid #222;
}
.table>tbody>tr>td {
  padding: 15px!important;

}
.bch {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 36s ease infinite;
  -z-animation: rainbow 36s ease infinite;
  -o-animation: rainbow 36s ease infinite;
  animation: rainbow 36s ease infinite;

}

@keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

@keyframes flippening {
    0%   {transform: scale(1);}
    50%  {transform: scale(1.15);}
    100% {transform: scale(1);}
}

.stats{
    color: black;
    background-color: white;
    padding: 30px;
    border-radius: 7px;
    position: relative;
    z-index: 300;
    width: 780px;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0px 3px 20px rgba(0,0,0,0.6);
    margin-top: 80px;

}
@media only screen and (max-width: 780px) {
  .stats{
    padding: 30px 15px;
    max-width: 95%;
  }
  .table>tbody>tr>td {
    font-size: 13px;
    padding: 15px 5px!important;
  }
  .logo{
    height: 15px;
  }
}
@media only screen and (max-width: 580px) {
  .table>tbody>tr>td {
    font-size: 11px;
    padding: 10px 0!important;
  }
  .logo{
    height: 12px;
  }
}
.footer {
  margin: 10px 0 -10px 0;
  text-align:center;
  width: 100%;
  line-height: 18px;
  font-size: 10px;
  left: 50%;
  color:black;
  z-index: 200;
}
.moon {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 200px;
  z-index: 1;
}
.to-the-moon {
  max-width: 100%;
}
.donate {
  width: 60px;
  height: 60px;
}
